<div class="am-g" id="header">
  <div class="am-u-sm-8">
    <ul class="am-nav am-nav-pills">
      <li [ngClass]="this.setNavClass('home')">
        <a routerLink="/">首页</a>
      </li>
      <li [ngClass]="this.setNavClass('post')">
        <a routerLink="/article_post">发布文章</a>
      </li>
      <li [ngClass]="this.setNavClass('list')">
        <a routerLink="/article_list">文章列表</a>
      </li>
      <li [ngClass]="this.setNavClass('report')">
        <a routerLink="/article_report">统计报告</a>
      </li>
    </ul>
  </div>
  <div class="am-u-sm-4">
  </div>
</div>
