
.footer_content {
  display: block;
  margin: 0 auto;
  width: 850px;
  font-size: 1.3rem;
}

.footer_content a {
  padding: 0 10px;
}
.footer_content > div {
  display: inline;
  margin-right: 20px;
}
