/* You can add global styles to this file, and also import other style files */

/* flex */
/* html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1;
}

#footer {
  color: #0e90d2;
  background-color: #333222;
  text-align: center;
  line-height: 30px;
} */

/* -margin & padding */
html, body {
  height: 100%;
}

#content {
  min-height: 100%;
  margin-bottom: -50px;
  padding-bottom: 50px;
}

#footer {
  color: #0e90d2;
  background-color: #333222;
  line-height: 50px;
  text-align: left;
}